Source: ring-kde
Section: kde
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9),
               extra-cmake-modules,
               kinit-dev,
               kio-dev,
               libkf5akonadi-dev,
               libkf5akonadicontact-dev,
               libkf5completion-dev,
               libkf5config-dev,
               libkf5contacts-dev,
               libkf5crash-dev,
               libkf5dbusaddons-dev,
               libkf5declarative-dev,
               libkf5guiaddons-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5notifications-dev,
               libkf5windowsystem-dev,
               libkf5xmlgui-dev,
               libqt5opengl5-dev,
               libqt5svg5-dev,
               libringclient-dev,
               pkg-kde-tools,
               qtbase5-dev,
               qtquickcontrols2-5-dev,
               ring-dev
Standards-Version: 3.9.8
Homepage: https://cgit.kde.org/ring-kde.git/

Package: ring-kde
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick-templates2,
         qml-module-qtquick2,
         ring-daemon,
         ${misc:Depends},
         ${shlibs:Depends}
Description: KDE client for the Ring communication framework
 KDE client for the Ring communication framework
 .
 This package contains the files for ring-kde
