#!/usr/bin/make -f
%:
	dh $@ --with kf5

override_dh_auto_configure:
	dh_auto_configure -- -DKDE_INSTALL_USE_QT_SYS_PATHS=ON -DCMAKE_INSTALL_PREFIX=/usr -DENABLE_VIDEO=true -DLIB_RING_CLIENT_LIBRARY=/usr/lib/libringclient.so.1.0.0 -DLIB_RING_CLIENT_LIBRARY_DYNAMIC=/usr/lib/libringclient.so.1.0.0
